<div id="all">
  <h1 class="text-center">Kicking asses restaurant list</h1>
  <div class="container">
    <div class="row">
      <% @restaurant.each do |restaurant| %>
        <div class="col-xs-4">
          <div class="card">
            <span class="label label-success">NEW</span>
            <h3>
              <%= link_to restaurant.name, restaurant_path(restaurant) %>
            </h3>
            <h4><%= restaurant.category%></h4>
            <h4><%=restaurant.address %></h4>
            <h4><%= restaurant.phone_number%></h4>
          </div>
        </div>
      <% end %>
    </div>
    <br><br>
    <div class="row text-center">
        <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>

